@model PokemonCard

@{
    ViewData["Title"] = "JolteonDeck";
}


<div class="header">
    <h1>You chose the Jolteon Deck!</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="@Model.ImageUrl" alt="@Model.Name">
        </div>
        <div class="col">
            <h2>Name: @Model.Name - HP @Model.HP </h2>
            <p></p>
            @if (Model.Ability != null)
            {
                Console.WriteLine($"Ability: + {Model.Ability.Text}");
            }
            <p>
                Attack: 
                <br />@for (var i = 0; i < Model.Attacks.Length; i++)
                {
                    var attack = Model.Attacks[i];
                <text>
                    @attack.Name:@attack.Text
                </text>
                }
                <br />
            <p>Evolves From: @Model.EvolvesFrom</p>
        </div>
    </div>
</div>

<style>

    .header {
        padding: 30px;
        border: 2px dashed #1C6EA4;
        text-align: center;
        background: #fff;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 17px;
        letter-spacing: 4px;
        word-spacing: -1px;
        color: #000000;
        font-weight: 400;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: normal;
        text-transform: none;
    }
</style>