@model PTCGUltraFanClub.Models.PokemonCard

@{
    ViewData["Title"] = "VaporeonDeck";
}

<div class="header">
<h1>You chose the Vaporeon Deck!</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="@Model.ImageUrl" alt="@Model.Name">
        </div>
        <div class="col">
            <h2>@Model.Types - @Model.HP </h2>
            <p></p>
            <p>Ability: @Model.Ability</p>
            <p>Attack: @Model.Attacks</p>
            <p>Evolves From: @Model.EvolvesFrom</p>
        </div>
    </div>
</div>

<style>
    .header {
        padding: 30px;
        border: 2px dashed #1C6EA4;
        text-align: center;
        background: #fff;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 17px;
        letter-spacing: 4px;
        word-spacing: -1px;
        color: #000000;
        font-weight: 400;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: normal;
        text-transform: none;
    }
</style>